
html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: center;  
}

h1, h2 {
  font-family: futura;
}
table.menu_inicial {
  background-color: #ebebeb;
  width: 100%;
  height: 40px;
  font-size: 15px;
}
.menu_texto {
  width: 20%;
}
.menu_link:link, .menu_link:visited {
  color: black;
  text-decoration: none;
  
}
.menu_link:active {
  color: orange;
}
.menu_link:hover {
  text-decoration: underline;
}
.segundomenu_link:link, .segundomenu_link:visited {
  color: white;
  
}
.segundomenu_link:active {
  color: orange;
  
}
.barra_topo {
   background-color: #ebebeb;
   font-size: 15px;
   padding-top: 12.5px;
   padding-bottom: 12.5px
}
.menu_volta:link, .menu_volta:visited {
  text-decoration: none;
  color: black;  
}
.menu_volta:active {
   color: orange;
}
.menu_volta:hover{
  text-decoration: underline;
}
.foto_benna {
  height: 200px; 
}

.formatacao_texto {
  margin-left: auto;
  margin-right: auto;
  width: 40%;  
} 
/*.sobre_benna {
  padding: 2%;
  background-color: orange;
  color: black

}*/

/*.style_workshops {
  padding: 2%
}*/
.listaordenada {
  list-style-position: inside;
}
ul {
  list-style-type: none;
}
.espaco989 {
   font-size: 25px;
}